body {
    background: #dddddd;
    padding: 70px 0;
    text-align: center;
  }
  
  .timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;

  }
  
  .timer__part {
    font-size: 36px;
    font-weight: bold;
  }
  
  .timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #5551FF;
    cursor: pointer;
  }
  
  .timer__btn--start {
    background: #0FA958;
  }
  
  .timer__btn--stop {
    background: #241D29;
  }
  